{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %} Login{% endblock head_title %}
{% block content %}
    <div class="row justify-content-center mt-4">
        <div class="col-6 text-center">
            <h2>Log In</h2>
            <form class="" action="{% url 'login' %}"method="POST" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-info" value="Log In">
                <input type="hidden" name="next" value="{{next}}">
            </form>
            <br>
            <p><a href="{% url 'password_reset' %}">Forgotten Your Password?</a></p>
        </div>
    </div>
{% endblock content %}